<div class='container'>
    <div nz-row>
      <div nz-col nzSpan="12" class="segment-wrapper" *ngIf="!showSetThresholdBtn">
        <app-set-threshold [threshold]='threshold' (output)='reload($event)'></app-set-threshold>
      </div>
    </div>
    <br>
    <nz-table #basicTable [nzData]='thresholds' [nzShowPagination]="false">
      <thead>
        <tr>
          <th>Motor Name</th>
          <th>Current (A)</th>
          <th>Temperature(⁰C)</th>
          <th>Vibration(Hz)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of basicTable.data'>
          <td>{{data?.motor?.motorName}}</td>
          <td>{{data.current }}</td>   
          <td>{{data.temperature}}</td>
          <td>{{data.vibrations }} </td>
          <td>
            <nz-button-group  nzType="primary">
              <app-set-threshold [threshold]='data' (output)='load($event)'></app-set-threshold>
            </nz-button-group>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  